<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <!-- <h3 th:text="${order.customer.firstName}"></h3> -->
	<h1>Create your order</h1>
  <div th:replace="fragments/account :: logout"></div>
  <div th:each="pizza: ${order.pizzas}">
  <fieldset>
  <legend th:text="'Pizza #' + ${pizza.pizzaId}"></legend>
  Size: <span th:text="${pizza.size}"></span> <br/>
  Crust: <span th:text="${pizza.crustType}"></span> <br/>
  Toppings: <span th:each="topping, status : ${pizza.toppings}" th:text="${status.last ? topping.description : topping.description + ', '}"></span> <br/>
  <!-- Toppings: Bacon, Pepperoni, Sausage -->
  </fieldset>
  <br/>
  </div>
  
  
  <form action="" method="post">
    <button>Add a Pizza</button>
  </form>
	
</body>
</html>