<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<h1>Review Order</h1>
  <div th:replace="fragments/account :: logout"></div>
  
  <!-- This is for editing individual orders -->
  <div th:if="${order} != null">
  <div th:replace="fragments/pizza-details :: pizzaDetails"></div>
  
  <div>--------</div>
  <div>Total Price: <span th:text="'$ ' + ${#numbers.formatDecimal(order.finalPrice, 0, 'COMMA', 2, 'POINT')}"></span></div>
  <form th:action="@{/orders/} + ${order.orderId} + '/finalize'" method="post">
    <button>Finalize order</button>
  </form>
  <a th:href="@{/orders/} + ${order.orderId}">Back to order</a>
  </div>

  </body>
</html>